.songPoolBuilder {
  padding: 12px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
}

input[type="text"], button {
  width: 50%;
}

.columns {
  display: flex;
  justify-content: stretch;
  overflow: hidden;
}

@media (max-width: 500px) {
  .columns {
    flex-wrap: wrap;
  }
}

.column {
  flex: 1 0 auto;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}